h1 {font-size: 300%;
color: white;}

#a{color: yellow;
font-style: bold;
font-size: 130%;}

#b{color: lime;
font-style: bold;
font-size: 130%;}

#c{color: skyblue;
font-style: bold;
font-size: 130%;}
